#header{
    position: relative;
}
#header h5{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 56px;
    text-align: center;
}
.header-large{
    height: 104px;
}
#header .tabs a{
    color: white;
}
#header .tabs .indicator{
    background-color: white;
}
#nav_title *{
    margin: 0;
    padding: 25px 0 10px 10px;
}
.red{
    color: white;
}
#sidenav li a{
    cursor: pointer;
}
#sidenav i{
    font-size: 20px;
}

.primary-btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#actions-template, #trigger-template,#event-template{
    display: none;
}
#actions, #triggers-list,#events-list{
    border: none;
}
#actions a, #triggers-list a, #events-lis a{
    cursor: pointer;
    color: black;
    font-size: 20px;
}